@{
    ViewBag.Title = "Contactenos";
}

    <div class="jumbotron">
        <h1>Contactenos</h1>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>
                    <h2>Dirección</h2>
                </th>
                <th>
                    <h2>Contacto</h2>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="info">
                <td>  
                    <p class="lead">
                        Calle 19 de Abril con Calle Bolívar <br />
                        Edif. Multicentro Paradise<br />
                        Piso 1, Ofic.1-4<br />
                        Guatire, Edo. Miranda.<br />
                        Caracas - Venezuela
                    </p>
                    </td>
                <td>
                    <p class="lead">
                        Puede comunicarse con nosotros por nuestros números telefónicos:<br />
                        (0212) 8147650<br />
                        (0212) 4942123<br />
                        (0414) 9226282<br />
                        (0414) 1230160<br />
                        O enviarnos un correo electrónico a:
                        <a href="mailto:serviprof@gmail.com">serviprof@gmail.com</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table> 
            
            
            

        </table>

    </div>













