@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenidos a nuestro Sitio Web</h1>
    <p class="lead">Con la finalidad de dar a nuestros clientes mayor flexibilidad en los servicios
        que ofrecemos y actualizarnos con la nueva tecnología, nos hemos colocado en la Web, de esta forma
        nuestros clientes pueden consultar su saldo de condominio, ver su historial de pagos y demás
        facilidades que permite este medio.</p>

    <img src="/condominios2.png" width="1024" height="516">
    <p></p>
    <p class="lead">Para cualquier información adicional acerca de nuestros servicios,
        no dude en comunicarse con nosotros a través de la página de contactos o por nuestros
        teléfonos donde gustosamente le atenderemos.</p>

</div>
