
@{
    ViewBag.Title = "Leyes";
}

<h2>www.ServiProf.com.ve</h2>

<style>
    img {
        float: left;
    }
   </style>

<img src="/leyes.jpg" />

    <p class="lead" align="justify">
        Administradora RG4 ServiProf, C.A. tiene la intención de facilitar a sus
        clientes y público en general la  mayor cantidad de recursos posibles desde nuestro Sitio
        Web. Hemos hecho una  selección de las principales Leyes de Venezuela y Decretos con Fuerza
        de Ley  que tienen relación con la administración de condominios e inmuebles en general.
    </p>

    <a href="leyes/Constitucion.pdf" target="new">Constitución de la República Bolivariana de Venezuela</a>


<br/>
<li><a href="leyes/ley_propiedad_horizontal.pdf" target="new">Ley de Propiedad Horizontal</a></li>
<br />
<li><a href="leyes/Ley_Arrendamientos.pdf" target="new">Ley de Arrendamientos Inmobiliarios</a></li>
<br />
<li><a href="leyes/ley_organica_trabajo.pdf" target="new">Ley Orgánica del Trabajo</a></li>
<br />
<li><a href="leyes/ley_iva.pdf" target="new">Ley que Establece el Impuesto al Valor Agregado</a></li>
<br />
<li><a href="leyes/ley_ISRL.pdf" target="new">Reglamento de la Ley de Impuesto Sobre La Renta</a></li>
<br />
<li><a href="leyes/LOPCYMAT.pdf" target="new">Ley Orgánica de prevención, condiciones y medio ambiente de trabajo</a></li>



