@{
    ViewBag.Title = "www.ServiProf.com.ve";
}
<h2>@ViewBag.Title.</h2>
<h3>Profesionalismo, Calidad y Ética</h3>
<p>
    Somos un equipo de profesionales, desde el año de 1996, nos dedicamos a la administración
    de condominios en la zona de Guarenas y Guatire. En el año 2006 decidimos conformar una
    empresa que lleva por nombre Servicios y Asesores Profesionales RG4 SERVIPROF, C.A., prestando
    a nuestros clientes un servicio confiable, personalizado y de alta calidad, apoyándonos siempre
    en tecnologías de punta y la mejor atención al cliente.
</p>

<h3>MISIÓN</h3>
<p>
    Consolidar la mejor Empresa de Servicios Contables y Administrativos en Venezuela,
    mediante un modelo de gestión orientado a la creación permanente de valores para nuestros
    clientes, nuestros empleados y comunidades a las cuales servimos.
</p>

<h3>VISIÓN</h3>
<p>
    Ser los mejores para nuestros clientes, empleados y accionistas, y contribuir así
    al desarrollo y bienestar de las comunidades Venezolanas. Esto se logra con una filosofía
    centrada en la experiencia del servicio y sustentada en recursos humanos capacitados, con
    alta ética profesional, y comprometidos con los valores que solo RG4 SERVIPROF, C.A. le puede ofrecer.
</p>

<h3>VALORES QUE NOS RESPALDAN</h3>
<p>Profesionalismo, Credibilidad, Respeto, Ética , Calidad, Confidencialidad y Excelencia en el servicio</p>

    <h3>Organigrama</h3>
    <img src="/organigrama.jpg">
 
    <h3>DIRECTORIO</h3>

    <h4>Departamento de Cobranzas y Atención al cliente:</h4>
    <p>
        Se encarga de la atención directa a nuestros clientes, bien sea en la taquilla de nuestras oficinas,
        vía teléfono o correo electrónico, recepción y proceso de pagos, reclamos y sugerencias.
    </p>

    <h4>Departamento de Servicios Generales:</h4>
    <p>
        Atiende directamente a las juntas de condominio, recepción y entrega de documentos en los conjuntos
        residenciales, tales como cobranzas o cualquier correspondencia emitida por la administradora o las
        juntas de condominio. Trámites legales de los conjuntos e inscripción en entes gubernamentales.
    </p>

    <h4>Departamento de Facturación:</h4>
    <p>Realiza y emite los recibos de condominio mensualmente, previa autorización de las juntas de condominio.</p>

    <h4>Departamento de Sistemas:</h4>
    <p>Mantenimiento de sistemas y equipos.</p>

    <h4>Departamento de contabilidad:</h4>
    <p>
        Lleva el registro de las cuentas y conciliaciones bancarias de los conjuntos residenciales.
    </p>

    <h4>Departamento de Cuentas por Pagar:</h4>
    <p>
        Se encarga de elaborar todos los cheques solicitados por las juntas de condominio para el pago de
        servicios, reparaciones y trabajos que sean necesarios, a su vez se hace seguimiento de los pagos a
        realizar. Realiza cálculo y pago de Nómina, Vacaciones, Aguinaldos, Prestaciones Sociales y demás obligaciones patronales.
    </p>

    <h4>Cartera de Clientes</h4>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Nombre del cliente</th>
                <th>Desde</th>
                <th>Nro. Inmuebles</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>RESIDENCIAS LA PIEDRA</td>
                <td>Ago-2003</td>
                <td>70</td>
            </tr>
            <tr class="info">
                <td>SECTOR LOS TURPIALES</td>
                <td>Oct-2003</td>
                <td>336</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LOMAS EDIF.C3-C4, C5-C6,C7-C8</td>
                <td>Oct-2006</td>
                <td>120</td>
            </tr>
            <tr class="info">
                <td>TERRAZAS DEL INGENIO ETAPA I</td>
                <td>Jun-2008</td>
                <td>80</td>
            </tr>
            <tr class="info">
                <td>CONJ.RES.LOS JARDINES DE CASTILLEJO</td>
                <td>Jun-2009</td>
                <td>560</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. FUENTE VENTURA</td>
                <td>Oct-2009</td>
                <td>83</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. CASTEJON</td>
                <td>Sep-2009</td>
                <td>80</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LA ABADIA</td>
                <td>Nov-2009</td>
                <td>66</td>
            </tr>
            <tr class="info">
                <td>RES BOULEVARD</td>
                <td>Dic-2010</td>
                <td>40</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LA CASONA </td>
                <td>May-2011</td>
                <td>174</td>
            </tr>
            <tr class="info">
                <td>TERRAZAS DEL INGENIO ETAPA III</td>
                <td>Jun-2011</td>
                <td>60</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LOS PORTALES I</td>
                <td>Oct-2011</td>
                <td>154</td>
            </tr>
            <tr class="info">
                <td>CONJ.RES. LOS ALEROS</td>
                <td>Oct-2011</td>
                <td>136</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. ALCAZAR</td>
                <td>Oct-2011</td>
                <td>59</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LA COLINA</td>
                <td>Nov-2011</td>
                <td>280</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LOS PORTALES II</td>
                <td>Ene-2012</td>
                <td>182</td>
            </tr>
            <tr class="info">
                <td>CONJ.RES.CASA BLANCA PARTE ALTA</td>
                <td>Jun-2012</td>
                <td>40</td>
            </tr>
            <tr class="info">
                <td>CENTRO CCIAL VILLA HEROICA</td>
                <td>Ago-2012</td>
                <td>38</td>
            </tr>
            <tr class="info">
                <td>EDIF. 4 CENTENARIO</td>
                <td>Ago-2012</td>
                <td>23</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LA ESPERANZA</td>
                <td>Sep-2012</td>
                <td>96</td>
            </tr>
            <tr class="info">
                <td>EDIF POMPA</td>
                <td>Nov-2012</td>
                <td>41</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. LAS TERRAZAS TH</td>
                <td>Ene-2015</td>
                <td>332</td>
            </tr>
            <tr class="info">
                <td>CONJ. RES. ESCORIAL</td>
                <td>Sep-2015</td>
                <td>85</td>
            </tr>
        </tbody>
    </table>





