
@{
    ViewBag.Title = "Servicios";
}

<h2>www.ServiProf.com.ve</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#servicios" data-toggle="tab" aria-expanded="true">Servicios</a></li>
    <li class=""><a href="#metodologia" data-toggle="tab" aria-expanded="true">Metodologia</a></li>
    <li class=""><a href="#departamento" data-toggle="tab" aria-expanded="true">Departamento</a></li>
    <li class=""><a href="#gestion" data-toggle="tab" aria-expanded="true">Gestion</a></li>
    <li class=""><a href="#requerimientos" data-toggle="tab" aria-expanded="true">Requerimientos</a></li>
    <li class=""><a href="#fondos" data-toggle="tab" aria-expanded="true">Fondos</a></li>
    <li class=""><a href="#normativa" data-toggle="tab" aria-expanded="true">Normativa</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="servicios">
        <h3>Servicios</h3>
        <p class="lead">
            1) Disposición inmediata de alto contenido técnico y profesional que permite a sus clientes contar con servicios confiables y oportunos.
        </p>
        <p class="lead">
            2) Enfoque fundamentalmente preventivo a la creación de contingencias y eminentemente agresivo en el requerimiento de soluciones correctivas.
        </p>
        <p class="lead">
            3) Herramienta de productividad y un aliado en la obtención de óptimos resultados.
        </p>
        <p class="lead">
            4) La mejor opción costo-beneficio del mercado.
        </p>
        <p class="lead">
            5) Crecimiento conjunto entre la Empresa y sus clientes.
        </p>
        <p class="lead">
            6) La mejor tecnología de punta en Sistema de Administración Condominios.
        </p>
    </div>
    <div class="tab-pane fade" id="metodologia">
        <h3>Metodologia de Cobranzas</h3>
        <p class="lead">
            Recibimos pagos por Correo: serviprof@gmail.com
        </p>
        <p class="lead">
            En Oficina de la Administradora: lunes a Jueves de 8:00am a 11:45am y 2:00pm a 4:00pm.
        </p>
        <p class="lead">
            Buscamos pagos en la Oficina del Conjunto, depositamos los cheques y procesamos la cobranza.
        </p>
        <p class="lead">
            Asistimos una vez al mes, al Conjunto, a recibir soportes de pago (Cheques, Depósitos, Transferencias).
        </p>
        <p class="lead">
            Cuando la Junta recibe pagos, vamos al Conjunto a retirarlos.
        </p>
        <p class="lead">
            Trimestralmente se anexa el Listado de Cuentas por Cobrar (Parte posterior del Recibo de Condominio).
        </p>
        <p class="lead">
            Dpto. Legal Externo: A partir de tres Recibos Vencidos.
        </p>
    </div>
<div class="tab-pane fade" id="departamento">
    <h3>DEPARTAMENTO LEGAL EXTERNO</h3>
    <h4>Asesoría Permanente.</h4>
    <h5>Cómo reducir la Morosidad:</h5>
    <p class="lead">
        a) Envia Comunicación al propietario moroso, exortando el Pago, (solo pagará logística del Servicio, NO GENERA % HONORARIOS , ni costos asociados).
    </p>
    <p class="lead">
        b) 2da. Comunicación (deberá pagar deuda + intereses + honorarios).
    </p>
    <p class="lead">
        c) Caso omiso se procede ante Tribunales estratégicamente.
    </p>
    <p class="lead">
        d) Los gastos se cargan al Propietario Moroso.
    </p>
    <p class="lead">
        e) La Logística y gastos procesales se recuperan 100% para el Conjunto Residencial.
    </p>
    <p class="lead">
        f) Tiempo Estimado: 2 a 3 Meses.
    </p>
</div>
<div class="tab-pane fade" id="gestion">
        <h3>Para iniciar Gestión administrativa</h3>
        <h4>LA JUNTA entregará a LA ADMINISTRADORA:</h4>
        <p class="lead">
            1) Copia Certificada del Documento de Condominio y modificaciones.
        </p>
        <p class="lead">
            2) Data copropietarios (Números de Teléfonos, Números de los Celulares, correos electrónico, sí el inmueble es alquilado, etc.)
        </p>
        <p class="lead">
            3) Balance Inicial y conciliaciones Bancarias.
        </p>
    </div>
<div class="tab-pane fade" id="requerimientos">
    <h3>LOS CONJUNTOS DEBEN CUMPLIR CON:</h3>
    <p class="lead">
        1) Inscripción en el INCES
    </p>
    <p class="lead">
        2) Si tiene Trabajadores bajo relación de Dependencia, deberá estar inscritos en :
    </p>
    <p class="lead">
        a) IVSS (Sistema en Línea TIUNA)
    </p>
    <p class="lead">
        b) FAOV (LPH)
    </p>
    <p class="lead">
        c) NIL (Número de Identificación Laboral) Min. Trabajo
    </p>
    <p class="lead">
        d) Inpsasel
    </p>
    <h4> En caso de no cumplir con los requisitos, la administradora se encargara de la asesoria y tramitación de los mismos.</h4>
</div>
<div class="tab-pane fade" id="fondos">
    <h3>EL CONDOMINIO DEBE MANEJAR SUS PROPIOS FONDOS</h3>
    <p class="lead">
        1) Registro de Información Fiscal RIF.
    </p>
    <p class="lead">
        2) Cuentas Bancarias a nombre del Conjunto.
    </p>
    <p class="lead">
        3) Firmas Conjuntas Mínimo dos de Cualesquiera de los miembros principales de la Junta de Condominio, quedando expresamente prohibido a LA JUNTA hacer cheques.
    </p>
    <p class="lead">
        4) Las cobranzas se depositan Sólo en las Cuentas bancarias del Conjunto.
    </p>
    <p class="lead">
        5) La emisión de cheques y control de chequeras estarán reservadas a la administradora.
    </p>
    <p class="lead">
        6) Para la emisión de Cheques se exige la Factura firmada por la Junta en señal de autorización.
    </p>
    <p class="lead">
        7) Todos los comprobantes de Ingresos y Egresos ,con sus respectivos soportes, permanecerán bajo Custodia de la Administradora.
    </p>
</div>
<div class="tab-pane fade" id="normativa">
    <h3>NORMATIVA GENERAL</h3>
    <h4>LA JUNTA</h4>
    <p class="lead">
        a) Es la encargada de la asignación, aprobación, fiscalización de los trabajos, correspondientes a reparaciones o mejoras del conjunto.
    </p>
    <p class="lead">
        b) Enviará de forma oportuna, las facturas o documentos de soportes, para la emisión de los cheques con cargo
        a la cuenta corriente correspondiente, para el pago de los servicios y proveedores.
    </p>
    <h4>LA ADMINISTRADORA</h4>
    <p class="lead">
        a) No realizará pagos ni cargos en los recibos de Condominio por gastos extraordinarios que
        no sean emergencia, en tal caso todo gasto extraordinario debe estar autorizado por la respectiva
        Acta de Asamblea de los copropietarios aprobando la erogación.
    </p>
    <p class="lead">
        b) Enviará mensualmente a la junta (por correo): Relación de Cobranzas en el Mes, Relación
        de Cuentas por Cobrar Resumida y Detallada, Recibos de Condominio Originales, Relación de Cheques
        emitidos y cualquier otro reporte que le sea solicitado.
    </p>
</div>
    </div>